// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

html,
body,
.wrapper,
#root {
  height: 100%;
}

.App {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(assets/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.game-map-container {
  height: 100%;
}

.sidebar {
  padding: 0 !important;
  position: relative;
  float: left;
  height: 100%;
  overflow-y: auto;
}

.main {
  background-image: url(assets/images/maps/mapa_brasil.png);
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.player-card {
  width: 24rem;
  height: 8rem;
}

.play-icon {
    margin: auto;
}
